.dashboard-view {

    .overdue-task {
        background-color: tomato !important;
    }
    .status-open {
        color: #FF4D4D;
    }    
    .status-ongoing {
        color: #fac123;
    }
    .status-overdue {
        color: #ff9924;
    }
    .status-closed {
        color: #00CC65;
    }
    .dashboard-title {
        padding: 8px 12px;
        border-radius: 4px;
        font-weight: 600;
        text-align: center;
        &.status-open {
            background-color: rgba(255, 77, 77, 0.1);
            color: #FF4D4D;
        }
        
        &.status-ongoing {
            background-color: rgba(235, 149, 21, 0.1);
            color: #fac123;
        }
        
        &.status-closed {
            background-color: rgba(0, 204, 101, 0.1);
            color: #00CC65;
        }
        &.status-overdue {
            background-color: rgba(255, 200, 36, 0.1);
            color: #ff9924;
        }
    }
    .dashboard-text {
        font-size: 16px;
        text-align: center;
    }
    .dashboard-counter {
        font-size: 32px;
        text-align: center;
    }
    .dashboard-column{
        width: auto;
        height: 10% !important;
        border-radius: 8px;
        margin: 16px;
    }
}


