.carousel-view {
    background-color: #f5f5f5;
    
    .x-carousel-indicator {
        padding: 10px 0;
        
        span {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #ddd;
            
            &.x-carousel-indicator-active {
                background-color: #1565C0;
            }
        }
    }

    .kanban-items {
        height: calc(100vh - 110px);
        overflow-y: auto;
    }
}
.carousel-container {
    .floating-circle-button {
        position: fixed !important;
        bottom: 86px;
        right: 24px;
        width: 56px;
        height: 56px;
        border-radius: 28px !important;
        background-color: $primary-color !important;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        z-index: 1000;
        padding: 0;
        
        .x-icon-el {
            color: white;
            font-size: 24px;
        }
    }
}
