.menu-view {
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
    // background-color: $base-white-color !important;
    div .icon-color{
        color: $primary-color;
    }
    .title {
        color: $primary-color;
        margin: 8px 8px 0px 0px;
    }
}

// .x-collapsed .floating-menu {
//     width: 0;
//     overflow: hidden;
// }
